.setting {
    position: relative;
}

.setting:hover .setting__drop-down-list {
    display: block;
}




.setting__drop-down-list {
    display: none;
    position: absolute;
    bottom: -115%;
    background-color: hsl(208, 23%, 15%);
    width: fit-content;
    padding: .4em 1em;
    border-radius: 4px;
    animation: drop-down 300ms cubic-bezier(0.42, 0, 0.67, 1.06) forwards;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options h2 {
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: .2em;
}


@keyframes drop-down {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }

}

@media only screen and (max-width:550px) {
    .setting {
        display: flex;
        flex-direction: column;
    }

    .setting__drop-down-list {
        display: none;
        position: absolute;
        top: -40px;
        bottom: auto;
        right: 4px;
        background-color: hsl(208, 23%, 15%);
        width: fit-content;
        padding: .4em 1em;
        border-radius: 4px;
        animation: drop-down 300ms cubic-bezier(0.42, 0, 0.67, 1.06) forwards;
    }

    .options svg {
        font-size: 1rem;
    }

    .options h2 {
        font-size: .8rem;
    }

    .setting:checked .setting__drop-down-list {
        display: block;
    }
}