.setting {
    position: relative;
}

.setting:hover .setting__drop-down-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(90px);
}




.setting__drop-down-list {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 50%;
    background-color: hsl(208, 23%, 15%);
    width: fit-content;
    padding: .4em 1em;
    border-radius: 4px;
    transform: translateY(80px);
    transition: all 200ms ease-in;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .4em;
    transition: color 100ms ease-in;
    position: relative;
}



.options:hover {
    color: var(--Orange);
}

.options:hover svg {
    fill: var(--Orange);
    stroke: var(--Orange);
}

.options h2 {
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: .2em;
}


@media only screen and (max-width:550px) {
    .setting {
        user-select: none;
        display: flex;
        flex-direction: column;
    }

    .setting__drop-down-list {
        height: 100%;
        padding: .5em 1em;
        transform: translate(0px, -30px);
    }

    .options {
        margin-bottom: .6em;
    }

    .options svg {
        font-size: 1.2rem;
    }

    .options h2 {
        font-size: 1rem;
    }


    .setting:hover .setting__drop-down-list {
        visibility: visible;
        opacity: 1;
        transform: translate(0px, -40px);
    }
}